



.redes a{
	min-height: 60px;
	min-width: 60px;
	background-color:white;
	font-size:18px;
	padding:20px;
	margin: 5px 5px;
	
	
	
}

.margemCima{
  margin-top: -70px!important;
}
.avaliacao{
  margin-bottom: -10px;
  color: gree!important;
}
.avaliacao1{
  color:red!important;
}
.avaliacao2{
  color:blue!important;
}
.avaliacao3{
  color:#4d0000!important ;
}
.avaliacao4{
  color:black!important;
}

.col-10 i{
  font-size: 18px;
}

.margem-qr{
width: 700px;
margin-top: -50px;

}
.qrTexto{
position: absolute;
align-items: center;
align-content: center;
text-align: center;

}

/*
footer {
  background: #222;
  color: #aaa;
  padding-top: 10px;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h3 {
 color: #0894d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .three-column {
 overflow: hidden;
}

footer .three-column li{
 width: 33.3333%;
  float: left;
  padding: 5px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}

.copyright span {
  color: #0894d1;
}

.copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

*/


@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);

*{
	 box-sizing: border-box;
  
}
body {
 font-family:Rubik,sans-serif;
 position:relative;
 font-weight:400;
 font-size:15px;
 background-color: rgba(182, 170, 218, 0.68)
 max-width: 100%;
    height: auto;
    overflow-y: auto;


}



/*
.card{
 
  margin: 5px;

  display: inline-block;
  align-content: center;
  text-align: left;
  float: none;
  margin-bottom: 3px;
  border: solid black 1px;
  

}

.card-img-top{
  width: 100%;
  height: 100%;
    object-fit: cover;
  margin: 14px;
    display: flex;
  display: inline-block;
}
*/
/*
.navbar a:hover{
  border-bottom: 4px solid yellow;

}
*/


.imgPagamento{
  margin-right:7px;
}
.card-body-color{
  color: black;
  background-color: #0d112d ;
  
}
.card-header-fundo1{
 background: linear-gradient(40deg, #4a8f9a, #101144)!important;
}
.card-header-fundo2 {
    background: linear-gradient(60deg, #17134c, #335e79)!important;
    padding: 0px;
}

.card-header-fundo3{
  background: linear-gradient(60deg, #14141b, #3b74c1)!important;
}

.card-header-fundo4{
      background: linear-gradient(60deg, #48224e, #297afd)!important;
}

    




ul {
 padding:0;
 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0


}
img {
 max-width:100%
}
p {
 font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300
}
h4 {
 font-family:Rubik,sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}
.fundoComentario{
  background-color: black;
}

.comentarios1{
  margin-left: 5px;
  margin-right: 0px;
  
}
.comentarios {
  margin-top: 0px !important;
  margin-left:0px !important;
  margin-right: 0px !important;
  padding: 0px !important;

}

.footer-big {
 padding:105px 0 65px 0
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#e7e8ed;


}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#898b96
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}


/*

.fa {
  padding: 20px;
  font-size: 90px;

  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 2px 5px;
  border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
*/


.cardd2{
  width: 350px;
  height: 100%;
  margin: 5px;

  display: inline-block;
  align-content: center;
  text-align: center;
  float: none;
  margin-bottom: 1px;
  border: solid black 1px;
  overflow: hidden;
  background-color: #B0E0E6;
overflow-x: hidden;

}

.nav-item i:hover{
  color: pink;
}




.card-img-top22{
  
  object-fit: cover;
  margin: 14px;
  width: 80%;
    height: 80%;
    display: flex;
  display: inline-block;
 

}



.card-text{
  text-align: left;
  margin: 5px;
}


.cartao{
  text-align: center;
  
}



.bordaCartao{
  border: 1px solid blue;
}

/*
.different::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  background-color: white;
  transition: all ease-in-out .2s;
}
.different:hover::after{
  width: 100%;
  left: 0;
}
*/

.different {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  /*overflow: hidden;*/
}
.different:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: orange;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 2s;
  transition-duration: 0.9s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  box-sizing: border-box;
  bottom:15%;

}
.different:hover:before, .different:focus:before, .different:active:before {
  left: 10%;
  right: 10%;
}
.navbar .active {
  /*
  border-color: transparent; 
  box-shadow: 0 0 0 2px blue; */
  border-bottom: pink solid 2px;


}

.navbar .ativo{
  background-color: blue;
}

.content {
  position: relative;
}

#collapseExample {
  position: absolute;
  z-index: 1;
}


.perguntasbo3{
  font-size: 40px;
  padding: 20px;
  background-color: #cccccc;
}
.perguntaicon{
  font-size: 40px;
}
.navitemedit{
  color: blue;
  border: solid 2px black;
  font-size: 20px;  
  size: 10px;
}

 #texto_{
  font-size: 26px;
 }

/*
.margem-comentario{
  
  
  max-width: 90%;
}

.coluna{
  max-width: 70%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}*/
@media(max-width: 1200px){
  .blockquote{
      font-size: 25px;
    }


}



/* sm */
@media (max-width: 800px){

 .blockquote{
      font-size: 17px;
    }
            .cardd2{
      width: 100px;
      margin: 0%;
      height: 100%;
    }

     .espacoRespostaDuvida{
  margin-left: 30px;
  margin-right: 0px;
   overflow: auto;
   padding-right: 0px;

}

.espacoDuvida{
  margin-right: 20px !important;
  margin-left: 0px !important;
  padding: 0px !important; 

}
#texto_ {
  
  font-size:23px;

}


}
@media (max-width: 500px) {
    .imgCelular {
        width: 650px;
        height: 350px;
    }
            .cardd2{
      width: 100%;
      margin: 0%;
      height: 100%;
    }


    .carroselSemMargem{
      padding: 0px !important;
      margin-top: 5px !important;
    }

    .blockquote{
      font-size: 15px;
    }

     .espacoRespostaDuvida{
  margin-left: 30px;
  margin-right: 0px;
   overflow: auto;
   padding-right: 0px;

}

.espacoDuvida{
  margin-right: 20px !important;
  margin-left: 0px !important;
  padding: 0px !important; 

}
#texto_ {
  
  font-size:19px;

}


}


.row {
  margin-right: 0;
  margin-left: 0;
}


.purple-filter:after{
   background: rgba(101, 47, 142, 0.64);
  background: linear-gradient(45deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
    background: -webkit-linear-gradient(135deg, rgba(14, 13, 14, 0.88) 0%, rgba(16, 24, 80, 0.45) 100%);

}




.fab{
  font-size:22px; 
}
.far{
    font-size:22px; 
}
.fas{
  font-size:22px;
}

.iwt{
display:block;
}

.texto_ {
  
  font-size:24px;

}

.fa-comments{
  margin-right:20px;
  font-size:50px;
}
.navbar.bg-primary {
    color: #fff;
    background-color: #0d112d !important;
    box-shadow: 0 4px 20px 0px rgba(25, 3, 3, 0.14), 0 7px 20px -1px rgba(143, 111, 148, 0.54);
	
}

